html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coinGeneratedBox {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

/* #coinGenerateBtn:hover{

} */

#delieThePenguin{
    /* display: flex; */
    width: 200px;
    height: 200px;
}

.delieImg{
    position:relative;
    width:100%;
    height:100%;
}